<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>MessBoard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="css/globals.css" rel="stylesheet">
        <link href="css/presentation.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/">
                <img src="/imgs/logo-small.png" alt="" width="200px">
            </a>
            <div>
                <button onclick="window.location.href='/login'" class="button-01">Login</button>
            </div>
        </header>
        <hr>

        <main class="container">
            <h1>MessBoard</h1>
            <h2>
                A Messed Message Board for you to share your thoughts
            </h2>
            <p>
                MessBoard is an app where you can share any thoughts that comes in mind.
                Here you can get along with people and make friends easily. Just come and
                talk!
            </p>
            <p>
                Feel free to ask, reply, comment, share and like someone's thought!
            </p>
            <div>
                <button onclick="window.location.href='/register'" class="button-01 start-button">
                    Start Messy Messaging With Us!
                </button>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>